<div class="flex">
  <div>
    <h1>
      Todo List
    </h1>
    <label>
      Podaj imię kotka:
      <input (keyup.enter)="addTodo(title)" type="text" #title>
    </label>
    <button (click)="addTodo(title)">Add</button>
    
    <ul>
      <li *ngFor="let todo of todos | async">
        <span [class.isCompleted]="todo.isCompleted" (click)="updateTodo(todo.id)">{{todo.title}}</span>
        <button (click)="removeTodo(todo.id)">Remove</button>
      </li>
    </ul>
  </div>
  <div>
    <app-other-cats></app-other-cats>
  </div>
</div>
<div *ngFor="let cat of cats">
  Imię kota: {{cat.name}}
  Kolor sierści kota: {{cat.color}}
</div>
<div>
  <app-show-cats-table></app-show-cats-table>
</div>
